.admin-navbar {
  width: 100%;
}

.link {
  color: #fff;
  padding-right: 2vw;
}
.link:hover {
  color: rgb(245, 245, 250);
}

#id1 {
  align-self: center;
}
Nav.Link {
  color: white;
  text-decoration: none;
}
Link {
  color: white;
}
.logo {
  width: 70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .admin-navbar {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .admin-navbar {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .admin-navbar {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .admin-navbar {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .admin-navbar {
    width: 100%;
  }
}
